body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.title {
    font-size: 16px;
    font-weight:700;
}

.date {
    font-size: 8px;
}

.category {

}

input#moar {
    margin: 0 auto;
    margin-top: 5px;
    display: block;
}

.row {   
    padding-bottom : 5px;
    padding-top : 5px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.row.news {
    border-bottom-color: rgba(86, 61, 124, 0.2);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
