@model IEnumerable<RSSNews.Models.News>

@{
    ViewBag.Title = "Index";
}

<div class="rows">

@{
    int i = 0;
    IEnumerable<RSSNews.Models.News> ls = null;
     }
@while ((ls = Model.Skip(i * 2).Take(2)).Count() > 1)
{
    i++;
    @Html.Partial("RowPartial", ls);
}

</div>



<input type="button" class="btn btn-default moar" id="moar" value="More" />

@Scripts.Render("~/bundles/jquery")
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
@if (User.Identity.IsAuthenticated)
{
    <script type="text/javascript">
        //$(function () {
            $(document).on('click', '.like', function(e) {
            //$(".like").click(function () {
                var btn = $(this);
                var id = btn.attr("data-id");
                $.ajax({
                    type: "POST",
                    url: "/News/LikeNews",
                    data: `{id: "${id}" }`,
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                });
                btn.attr("disabled", true);
            });
        //});
    </script>
}

<script type="text/javascript">
    //$(function () {
    $(document).on('click', '.moar', function (e) {
        //$(".moar").click(function () {
            var btn = $(this);
            $.ajax({
                type: "POST",
                url: "/News/GetRows",
                data: `{count: "5" }`,
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (response) {
                    $(".rows").append(response);
                },
            });
        });
    //});
</script>

<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            $.ajax({
                type: "POST",
                url: "/News/GetRows",
                data: `{count: "5" }`,
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (response) {
                    $(".rows").append(response);
                },
            });
        }
    });
</script>

